@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  --tw-ring-shadow: 0 0 #000 !important;
}
.mapboxgl-popup-close-button
{
  display: none;
}
.mapboxgl-popup-content {
  min-width: 600px !important;
  max-height: 300px !important;
  
  padding: 0 !important;
}
.mapboxgl-popup, .mapboxgl-popup-anchor-bottom{
  max-width: 600px !important;
  max-height: 400px !important;
}

.border-3 {
  border-width: 3px !important;
}
